<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">


</head>
<body>
<h1>Produkter</h1>
<table>
    <tr>
        <th>Namn</th>
        <th>Pris</th>
        <th>Kategori</th>
    </tr>
    <tr th:each="product : ${products}">
        <td th:text="${product.name}"></td>
        <td th:text="${product.price}"></td>
        <td th:text="${product.description}"></td>
    </tr>
</table>

</body>
</html>